<html>

<head>
    <title>Exercise 5: Structuring a Food Recipe *Continued*</title>
</head>

<body>
    <div id="recipeTitle">
        <h1>Receta de Tortillas</h1>
        <img src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2016/06/istock67211621small.jpg"
            alt="Foto de Tortilla">
    </div>
    <!-- Disc bullets -->
    <div id="ingredients" class="recipeList">
        <h2>Ingredients</h2>
        <ul type="square">
            <li>Butter</li>
            <li>Milk</li>
            <li>Eggs</li>
            <li>Cereal</li>
        </ul>
    </div>
    <div id="instructions" class="recipeList">
        <!-- Square bullets -->
        <h2>Instructions</h2>
        <ol type="i">
            <li>Butter</li>
            <li>Milk</li>
            <li>Eggs</li>
            <li>Cereal</li>
        </ol>
    </div>
    <!-- Write your HTML Here -->
</body>

</html>