.link {
    text-align: right;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

#caja {
    margin: 1px;
}

.searchbutton {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
} 

#searchbox {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

#input {
    border: 2px solid gray;
    border-radius: 40px;
    height: 30px;
}

#button {
   /* display: inline-block; */
    margin: auto;
    border: none;
    text-align: center;
}

.inputtext {
    display: block;
    padding: 3px;
    margin: 10px 10px;
    width: 60%;
}

 .formulario {
    display: flex;
    flex-wrap: wrap;
    width: auto;
	padding: 0px 20px;
	margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
 }

 #buttonsearch {
    color: white;
    background-color: cornflowerblue;
    margin-left: 67%;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
 }

.ancho {
    width: 200px;
}

#logo {
 text-align: center;
}

#logoadv {
    text-align: left;
}

#p {
    margin-left: 40px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#p2 {
    margin-left: 10px;
}